Package: com.fr0zensun.switcherloader
Name: SwitcherLoader
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Fr0zen Sun
Author: Fr0zen Sun
Section: Tweaks
