<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>API Documentation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Thank you to DHowett and RPetrich for all their help
© 2011 Ryan Coffman (Fr0zen Sun)
            </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow on Twitter</string>
			<key>action</key>
			<string>openTwitter:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate with PayPal</string>
			<key>action</key>
			<string>openPayPal:</string>
		</dict>
	</array>
	<key>title</key>
	<string>SwitcherLoaderSettings</string>
</dict>
</plist>
